* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	width: 50%;
	display: flex;
	margin-left: 30px;
	margin-top: 15px;
}

@font-face {
	font-family: 'Spectral';
	src: url('../typos/Spectral-Light.otf');
	font-style: normal;
}
.spectral {
    font-family: 'Spectral';
}
h1 {
	grid-template-columns: 1fr;
	font-family: 'Spectral';
	font-size: calc(2rem + 3vw);
	color: white;
	text-shadow: -2px 2px 0px grey;
}

h2 {
	font-family: 'Spectral';
	font-size: calc(0.4rem + 0.8rem);
	flex-basis: calc(50%);
}
p {
	font-family: 'Spectral';
	font-size: calc(0.4rem + 0.5vw);
	padding-top: 15px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 15px;
}
