* {
	padding: 0;
	margin: 0;
}

html {
	background-color: white;
	scroll-behavior: smooth;
	width: 100%;
	margin-left: 30px;
	margin-top: 15px;
}
.container {
	display: flex;
	flex-direction: row;
}
.box1 {
	align-content: start;
}
.box2 {
	align-items: end;
}

.grow1 {
	flex-grow: 2;
}
.grow2 {
	flex-grow: 1;
}
@font-face {
	font-family: 'Spectral';
	src: url('../typos/Spectral-ExtraLight.otf');
	font-style: normal;
}
.spectral {
    font-family: 'Spectral';
}

@font-face {
	font-family: 'Chivo Mono';
	src: url('../typos/ChivoMono-LightItalic.ttf');
	font-style: normal;
}
.chivo {
    font-family: 'Chivo Mono';
}

@font-face {
	font-family: 'Spectral_Italic';
	src: url('../typos/Spectral-ExtraLightItalic.otf');
	font-style: normal;
}
.spectral_italic{
    font-family: 'Spectral_Italic';
}

h1 {
	font-size: calc(1.5rem + 2.2vw);
	color: white;
	text-shadow: -1px 1px 0px lightslategray;
}

h2 {
	font-size: calc(1.2rem + 1.8vw);
	color: white;
	text-shadow: -1px 1px 0px lightslategray;
}

h3 {
	font-family: 'Spectral_Italic';
	font-size: calc(1rem + 1.2vw);
}
p {
	font-family: 'Spectral';
	font-size: calc(0.6rem + 0.8vw);
	width: 50%;
	padding-top: 15px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 15px;
}

footer {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	font-size: calc(0.3rem + 0.4vw);
}